:root {
  --color-yellow: #f9f8c0;
  --color-grey: #595854;
}

input {
    font-size: clamp(48px, 4.5vw, 5.5vw);;
}

.searchbarContainer {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

.nameItem {
  font-size: 3vw;
}

.active {
  background-color: var(--color-grey);
  color: white;
}