input {
  font-size: clamp(36px, 3.5vw, 4vw);
}

.searchbarContainer {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

.nameItem {
  font-size: 3vw;
}

.active {
  background-color: var(--color-grey);
  color: white;
}