
:root {
    --button-color:#f6aad8;
}

.cryButton {
  background: none;
  border: none;
  cursor: pointer;
}

.progressWrapper {
  position: relative;
  width: 14vw;
  height: 14vw;
}

.centerIcon {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 9vw;
  pointer-events: none;
  color: var(--button-color);
}