.buttonContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.centerIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  place-items: center;
  cursor: pointer;
}

.centerIcon:hover {
  filter: brightness(110%);
}

.centerIcon:active {
  filter: brightness(90%);
}

.centerIcon:disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}