@import "./output.css";

:root {
  --color-yellow: #f9f8c0;
  --color-grey: #595854;
}

body {
  font-family: "PokemonFont", sans-serif;
}

.yellow-bg {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "PokemonFont";
  src: url("../public/fonts/pokemon-dp-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
