@import "./output.css";

:root {
  --color-yellow: #f9f8c0;
  --color-grey: #595854;
}

body {
  font-family: "PokemonFont", sans-serif;
}

.yellow-bg {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

.displayContainer {
  z-index: 10;
  inset: 0;
  position: absolute;
}

@font-face {
  font-family: "PokemonFont";
  src: url("../public/fonts/pokemon-dp-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
