.displayContainer {
  inset: 0;
  z-index: 10;
  position: absolute;
}

.searchOverlayContainer {
  z-index: 20;
  position: absolute;
  left: 52%;
  top: 12%;
}

.description {
  position: absolute;
  bottom: 8%;
  left: 5%;
  width: 90%;
  font-size: clamp(24px, 4vw, 4vw);
  color: var(--color-grey);
  line-height: 1.4;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sprite {
  position: absolute;
  top: 18%;
  left: 5%;
}

.htwt {
  position: absolute;
  bottom: 38%;
  right: 5%;
  font-size: clamp(36px, 5vw, 5.5vw);
  color: var(--color-grey);
  display: inline;
  line-height: 0.9;
}

.title {
  position: absolute;
  text-align: center;
  top: 22%;
  right: 20%;
  font-size: clamp(24px, 4.5vw, 5.5vw);
  color: var(--color-grey);
}

.typeSprites {
  position: absolute;
  width: 40%;
  height: 9%;
  left: 57%;
  top: 33%;
  display: flex;
}

.CryBtn {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 14%;
  height: 21%;
}

.navArrows {
  position: absolute;
  top: 1%;
  right: 8%;
  width: 10%;
  height: 5%;
}